.footer{
    padding: 50px 0;
    background: #1D1D1D;

    [class*="container-"] {
      padding: 0;
    }

    .btn-wrapper {
      align-items: center;
      .btn-neutral{
        color: #000 !important;
        font-size: 20px;
      }
    }

    .nav{
        display: block;
        float: left;
        margin-bottom: 0;
        padding-top: 25px;
        list-style: none;
    }

    .nav-item {
      display: block;
    }

    .nav-link {
      color: $white;
      padding: 5px 0;
      font-size: 16px;
      text-transform: capitalize;
      text-decoration: underline;
    }

    .title {
      text-align: left !important;
    }

    #email {
      font-size: 14px !important;
      height: 40px;
      background: #fff;
      border-radius: 0px;
      color: #1D1D1D;
    }

    .btn-subscribe {
      background: rgb(17, 87, 64) !important;
      border-radius: 0px;
      margin: 0px !important;

      &:hover {
        background: rgb(17, 87, 64) !important;
        margin: 0px !important;
      }
    }

    .copyright{
        margin-top: 100px;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}


@media screen and (max-width: 991px){
  .footer {
    padding-left: 0px;

    .copyright {
      text-align: right;
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 992px){
  .footer {
    .copyright {
      float: right;
      padding-right: 30px;
    }
  }
}

@media screen and (max-width: 768px){
  .footer {
    nav {
      display: block;
      margin-bottom: 5px;
      float: none;
    }
  }
}

@media screen and (max-width: 576px){
  .footer {
    text-align: center;
    .copyright {
      text-align: center;
    }

    .nav{
      float: none;
      padding-left: 0;
    }
  }
}
